@import "../../index.scss";

.box {
    width: 100%;
    height: 40px;
    background: #ffffff;
    display: flex;
    border-bottom: 2px solid rgba(227, 229, 233, 0.6);
    align-items: center;
    padding: 10px 0px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    &:hover{
        border: 2px solid var(--secondary-color);
    }
    .name {
        padding-left: 30px;
        flex: 2;
        overflow: hidden;
        font-size: 15px;
        color: var(--primary-color);
    }
    .status {
        flex: 1;
        display: flex;
        .statusBox {
            width: 50px;
            border-radius: 20px;
            text-align: center;
            margin: 5px 5px 5px 0;
            padding: 2px 12px;
            background-color: var(--yellow-color);
        }
        .complete {
            width: 80px;
            border-radius: 20px;
            text-align: center;
            margin: 5px 5px 5px 0;
            padding: 2px 12px;
            background-color: var(--green-color);
        }
    }
    .priority {
        flex: 1;
        display: flex;
        align-items: center;
        font-weight: 600;
        color: var(--primary-color);
        div {
            margin-right: 10px;
        }
    }
    .iconBox {
        flex :1;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
            margin: 0 10px;
            cursor: pointer;
        }
    }
   
}

