@import "../../index.scss";

.filter {
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 2px solid rgba(227, 229, 233, 0.6);
    border-radius: 8px;
    font-size: 12px;
    background-color: #ffffff;
    margin-right: 10px;

    .input{
        border: none;
        height: 40px;
        &:active{
            border: none;
        }

        &:focus {
            outline: transparent;
        }

        @include small-mobile {
            width: 94px;
        }
    }
}