@import "../index.scss";

.quickStaisticsBox{
    width: 100%;
    .header{
        padding-bottom: 20px;
    }
    .cardBox {
        display: flex;
        justify-content: space-between;
        @include only-on-mobile {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}